<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Welcome to JejuGPT</title>
  <link rel="shortcut icon" type="image/png" href="../../static/favicon.png" />
  <link rel="stylesheet" href="../../static/bootstrap.min.css" />
  <!-- 폰트 css를 bootstrap css이후에 덮어써야 폰트 잘 나옵니다!! -->
  <link rel="stylesheet" href="../../static/Noto-Sans-KR.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/icons-webfont@latest/tabler-icons.min.css">
  <script src="../../static/bootstrap.bundle.js"></script>
</head>

<body>
  <!--  Body Wrapper -->
  <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
    data-sidebar-position="fixed" data-header-position="fixed">
    <div
      class="position-relative overflow-hidden radial-gradient min-vh-100 d-flex align-items-center justify-content-center">
      <div class="d-flex align-items-center justify-content-center w-100">
        <div class="row justify-content-center w-100">
          <div class="col-md-8 col-lg-6 col-xxl-3">
            <div class="card bg-transparent shadow-none">
              <div class="card-body">
                <a href="/" class="text-nowrap logo-img text-center d-block py-3 w-100">
                  <img src="../../static/dark-logo.svg" width="180" alt="">
                </a>
                <p class="text-center">JejuGPT는 제주 방언을 표준어로 의미 번역하는 언어 처리 모델을 ChatGPT에 적용한 서비스입니다.</p>
                <div class="d-flex gap-4 align-items-center justify-content-between">
                  <button type="submit" class="btn btn-primary py-8 w-30 fs-4 mb-4 rounded-2" style="width: 40%; margin: auto;"
                    onclick="location.href='/userlogin/auth/'">로그인</button>
                </div>
                <div class="d-flex align-items-center justify-content-center">
                  <p class="fs-4 mb-0 fw-bold">JejuGPT 이용이 처음이시면</p>
                  <a class="fs-4 text-primary fw-bold ms-2" href="{% url 'login:signup' %}">회원가입</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- 기타 js 기존 경로 -->
  <!-- <script src="../assets/libs/jquery/dist/jquery.min.js"></script>
  <script src="../assets/js/sidebarmenu.js"></script>
  <script src="../assets/js/app.min.js"></script>
  <script src="../assets/libs/simplebar/dist/simplebar.js"></script> -->
</body>

</html>