<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>JejuGPT</title>
  
  {% comment %} <link rel="stylesheet" href="../../../static/bootstrap.min.css"> {% endcomment %}
  <link rel="stylesheet" type="text/css" href="../../../static/style_chat.css">
  {% comment %}
  <link rel="stylesheet" href="../../../static/Noto-Sans-KR.css" /> {% endcomment %}
  <link rel="shortcut icon" type="image/png" href="../../../static/favicon.png" />
</head>

<body>
  {% if user.is_authenticated %}
  <div class="chat-container">
    <nav class="nav-bar">
      <div class="logo"><a href="/">Jeju GPT</a></div>
      {% if chatList %}
      {% for R in chatList %}
      {% if R.id == chat_id %}
      <div class="profile">{{R.subject}}</div>
      {% endif %}
      {% endfor %}
      {% endif %}
      <div class="profile"><a href="{% url 'login:logout' %}">Logout</a></div>
    </nav>
    <div class="chat-wrapper">
      <div class="chat-sidebar">
        <div class="chat-header">
        </div>
        <ul class="chat-list">

          <li><strong><a href="{% url 'homepage:homepage' user_id=user_id %}" class="new-chat">+ &nbsp;새 채팅 시작하기</a></strong></li>
          {% if chatList %}
          {% for R in chatList %}
          <li {% if R.id == chat_id %}class="active"{% endif %}>
            <div class="chat-obj-div">
              <a href="/main/{{user_id}}/{{R.id}}/">{{R.subject}}</a>
              <form action="{% url 'homepage:room_delete' user_id=user_id del_id=R.id%}" method="POST">
                {% csrf_token %}
              <button class="chat-obj-btn">×</button>
              </form>
            </div>
          </li>
          <!--기존에 있던 수정 날짜 context-->
          <!--
          {{ R.last_date|date:'Y/m/d' }} {{ R.last_date|time:'H:i' }}
          -->
          {% endfor %}
          {% endif %}
        </ul>
        <div class="options">
          <img src="../../../static/settings.png" width="30px">
          <img src="../../../static/dol.png" width="38px">
          <img src="../../../static/moon_white.png" width="35px">
        </div>
      </div>


      <div class="chat-content">
        {% block content %}
        {% if sets %}
        
        <div class="chat-messages">
        {% for S in sets %}

          <div class="chat-message">
            <div class="message received">
              <div class="message-content">
                <img src="../../../static/zzang_gu.jfif" class="user-image">
                <p>{{ user.email }} : {{ S.Question.content }}</p>
              </div>


            </div>
          </div>


          <div class="chat-message">
            <div class="message sent">
              <div class="message-content">
                <img src="../../../static/favicon.png" class="favicon-image">
                <p>{{ S.Answer.content }}</p>
              </div>

              <div class="feedback">
                <a href="#"><img src="../../../static/good.png" class="good"></a>
                <a href="#"><img src="../../../static/bad.png" class="bad"></a>
              </div>
            </div>
          </div>



        {% endfor %}
      </div>
        {% else %}
        <!--기존 채팅방인데도 채팅이 없는 경우-->
        <div class="chat-messages">
          <h1>채팅이 없습니다! 첫 질문을 하시거나, 채팅방을 삭제해 주세요.</h1>
        </div>
        {% endif %}

        <!--채팅창 텍스트박스-->
        <form action="{% url 'homepage:question_send' user_id=user_id chatroom_id=chat_id %}" method="post">
          {% endblock %}
          {% csrf_token %}
          <div class="new-chat-input">
            <input type="text" name="input_text" placeholder="아맹이나 고라봅써" />
            <button type="submit" id="send-button"><img src="../../../static/submit.png" alt="Submit"></button>
          </div>
        </form>
        


      </div>
    </div>
    {% else %}
    <script>
      window.location.href = "{% url 'login:logout' %}"
    </script>
    {% endif %}
</body>