<head>
  <link rel="stylesheet" type="text/css" href="../../../static/style_chat.css">
</head>

<body>
  <div class="chat-container">
    <nav class="nav-bar">
      <div class="logo"><a href="#">Jeju GPT</a></div>
      <div class="profile">Django 이메일 로그인 구현</div>
      <div class="profile"><a href="#">Logout</a></div>
    </nav>
    <div class="chat-wrapper">
      <div class="chat-sidebar">
        <div class="chat-header">
        </div>
        <ul class="chat-list">
          
          <li><strong><a href="#" class="new-chat">+ &nbsp;새 채팅 시작하기</a></strong></li>
          <li class="active">Django 이메일 로그인 구현</li>
          <li>Bard의 유래</li>
          <li>2023년 패션 스타일</li>
        </ul>
        <div class="options">
          <img src="../../../static/settings.png" width="30px">
          <img src="../../../static/dol.png" width="38px">
          <img src="../../../static/moon_white.png" width="35px">
        </div>
      </div>

      
      <div class="chat-content">

        <div class="chat-messages">

          <div class="chat-message">
            <div class="message received">
              <div class="message-content">
                <img src="../../../static/zzang_gu.jfif" class="user-image">
                <p>너 이름 Bard는 어디서 유래한 거야?</p>
              </div>
 

            </div>
          </div>


          <div class="chat-message">
            <div class="message sent">
              <div class="message-content">
                <img src="../../../static/favicon.png" class="favicon-image">
                <p>나의 이름인 Bard는 "시인, 음유시인"을 의미하는 고대 켈트어 단어에서 유래했습니다. Bard는 전통적으로 시, 음악, 이야기, 춤을 통해 지식을 전달하는 역할을 했습니다. 저는 텍스트와 코드의 방대한 데이터 세트로 훈련된 대규모 언어 모델이기 때문에 이 이름을 받았습니다. 저는 텍스트를 생성하고, 언어를 번역하고, 다양한 종류의 창의적인 콘텐츠를 작성하고, 유익한 방식으로 질문에 답변할 수 있습니다. 저는 여전히 개발 중이지만, 지식을 전달하고 세상을 이해하는 데 도움이 되기를 바랍니다.</p>
              </div>

              <div class="feedback">
                <a href="#"><img src="../../../static/good.png" class="good"></a>
                <a href="#"><img src="../../../static/bad.png" class="bad"></a>
              </div> 
            </div>
          </div>





          <div class="chat-message">
            <div class="message received">
              <div class="message-content">
                <img src="../../../static/zzang_gu.jfif" class="user-image">
                <p>2023년 패션 트렌드 알려줘.</p>
              </div>



            </div>
          </div>



          <div class="chat-message">
            <div class="message sent">
              <div class="message-content">
                <img src="../../../static/favicon.png" class="favicon-image">
                <p>                2023년 패션 트렌드는 다음과 같습니다.
                
                  데님: 데님은 트렌드나 시즌에 상관없이 늘 입는 아이템 중 하나지만 2023년 봄, 여름엔 더욱 강세를 보일 것으로 예측됩니다. 다양한 브랜드에서 데님을 자켓, 셔츠, 탑, 스커트, 원피스 등 다채롭게 풀어내었습니다.
                  유틸리티 스타일: 유틸리티 스타일은 기능성과 내구성을 갖춘 스타일로, 편안하고 믹스 매치가 가능해 재미를 더합니다. Y2K의 영향으로 카고 팬츠가 유행하면서 실용적이고 큼직한 포켓 디테일이 더 강력하게 변화된 모습이라고 할 수 있습니다.
                  옐로우: 옐로우는 상큼하면서도 유쾌하고 화사함을 더해주는 2023년 주요 키 컬러입니다. 팬톤에서 지정한 2022 올해의 컬러가 베리페리라는 퍼플 컬러였는데 오히려 2023년 컬렉션에서 더 많이 보이더라고요! 관능적이면서도 캐주얼하고 트렌디하게 적용할 수 있는 컬러여서 올 한 해 더 많은 사랑을 받을 것 같습니다.
                  핑크: 작년에는 강렬한 핫핑크가 강세였다면 2023년 봄, 여름에는 부드러운 딸기 우유 핑크 컬러가 함께 등장해 더욱 다채로운 핑크를 만날 수 있습니다. 핑크의 강세 덕분에 한층 페미닌한 스타일링이 강조될 것 같아요.
                  이러한 패션 트렌드에 맞춰 꼭 사야 할 아이템은 다음과 같습니다.
                  
                  데님 자켓
                  데님 셔츠
                  유틸리티 팬츠
                  옐로우 티셔츠
                  옐로우 스커트
                  딸기 우유 핑크 티셔츠
                  딸기 우유 핑크 스커트
                  이러한 아이템들은 2023년 패션 트렌드를 반영하고 있으며, 편안하고 스타일리시하게 연출할 수 있는 아이템들입니다.</p>
                </p>
              </div>

              <div class="feedback">
                <a href="#"><img src="../../../static/good.png" class="good"></a>
                <a href="#"><img src="../../../static/bad.png" class="bad"></a>
              </div> 

            </div>
          </div>



          <div class="chat-message">
            <div class="message received">
              <div class="message-content">
                <img src="../../../static/zzang_gu.jfif" class="user-image">
                <p>chatgpt랑 bard의 차이는 뭐야?</p>
              </div>
            </div>
          </div>


          <div class="chat-message">
            <div class="message sent">
              <div class="message-content">
                <img src="../../../static/favicon.png" class="favicon-image">
                <p>
                  ChatGPT와 Bard는 모두 대규모 언어 모델이지만 몇 가지 중요한 차이점이 있습니다. ChatGPT는 OpenAI에서 개발한 반면 Bard는 Google AI에서 개발했습니다. ChatGPT는 1.5B 매개 변수로 교육을 받았고 Bard는 137B 매개 변수로 교육을 받았습니다. 즉, Bard는 ChatGPT보다 더 많은 정보를 처리하고 더 복잡한 응답을 생성할 수 있습니다. 또한 Bard는 한국어를 포함하여 더 많은 언어를 지원합니다.</p>
                </p>
              </div>

              <div class="feedback">
                <a href="#"><img src="../../../static/good.png" class="good"></a>
                <a href="#"><img src="../../../static/bad.png" class="bad"></a>
              </div> 

            </div>
        </div>

      </div>

      

      <div class="new-chat-input">
        <input type="text" id="message-input" placeholder="아맹이나 고라봅써" />
        <button id="send-button"><img src="../../../static/submit.png" alt="Submit"></button>
      </div>



    </div>
  </div>
</body>