<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JejuGPT home</title>
    <link rel="stylesheet" href="../../static/bootstrap.min.css" />
    <link rel="stylesheet" href="../../static/Noto-Sans-KR.css" />
</head>

<body>
    {% if user.is_authenticated %}
    <a class="mark" href="{% url 'login:logout' %}">{{ user.username }}님 로그아웃</a>
    {% else %}
    <a class="mark" href="{% url 'login:login' %}">로그인</a>
    <a class="mark" href="{% url 'login:signup' %}">회원가입</a>
    {% endif %}

    <section style="background-color: #eee;">
        <div class="container py-5">

            <div class="row">

                <div class="col-md-6 col-lg-5 col-xl-4 mb-4 mb-md-0">

                    <h5 class="font-weight-bold mb-3 text-center text-lg-start">채팅 목록</h5>

                    <div class="card">
                        <div class="card-body">
                            <ul class="list-unstyled mb-0">
                                <!--새 채팅 버튼-->
                                <li class="p-2 border-bottom">
                                    <a href="/main/homepage/" class="d-flex justify-content-between">
                                        <div class="pt-1">
                                            <p class="fw-bold mb-0">+ New Chat</p>
                                        </div>
                                    </a>
                                </li>
                                <!--채팅목록 생성코드-->
                                {% if chatList %}
                                {% for R in chatList %}
                                <li class="p-2 border-bottom">
                                    <a href="/main/homepage/{{R.id}}/" class="d-flex justify-content-between">
                                        <div class="pt-1">
                                            <p class="fw-bold mb-0">{{R.subject}}</p>
                                        </div>
                                        <div class="pt-1">
                                            <p class="text-muted mb-1">{{R.last_date}}</p>
                                        </div>
                                    </a>
                                </li>
                                {% endfor %}
                                {% endif %}

                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-7 col-xl-8">

                    <ul class="list-unstyled">
                        <p class="p-3">제주 방언으로 질문을 입력하여 새로운 대화 시작하기</p>
                        <!--입력칸-->
                        <li class="bg-white mb-3">
                            <div class="form-outline">
                                <textarea class="form-control" id="textAreaExample2" rows="4"
                                    placeholder="질문을 입력해 보세요."></textarea>
                            </div>
                        </li>
                        <button type="button" class="btn btn-info btn-rounded float-end">전송</button>
                    </ul>

                </div>

            </div>

        </div>
    </section>

</body>

</html>