{% extends 'home/chatpage.html' %}
{% block content %}
<link rel="stylesheet" type="text/css" href="../../../static/style_chat.css">
<div class="chat-messages">
    <div class="hp">
      <p>궁금한 내용을 제주 방언으로 입력해주시면 질문에 대한 ChatGPT의 표준어 답변을 제공해드립니다.</p>
      <p>어떻게 시작해야 할 지 모르겠다면 다음 예를 참고해보세요.</p>
      <br>
      <form id="form1" action="{% url 'homepage:question_send_initial' user_id=user_id%}" method="post">
        {% csrf_token %}
        <a onclick="submitForm('form1')"><input type="hidden" name="input_text" value="오늘 점심에 무신거 먹젠 마씸?">(예시) 오늘 점심에 무신거 먹젠 마씸?</a>
      </form>
      <br>
      <form id="form2" action="{% url 'homepage:question_send_initial' user_id=user_id%}" method="post">
        {% csrf_token %}
        <a onclick="submitForm('form2')"><input type="hidden" name="input_text" value="어디 갔당 왐수꽈?">(예시) 어디 갔당 왐수꽈?</a>
      </form>
      <br>
      <form id="form3" action="{% url 'homepage:question_send_initial' user_id=user_id%}" method="post">
        {% csrf_token %}
        <a onclick="submitForm('form3')"><input type="hidden" name="input_text" value="서울 가문 어디가 좋으코?">(예시) 서울 가문 어디가 좋으코?</a>
      </form>
      <!--
        근디 두루마기도 옛날 닮지 안행 되게 편하게 나완 허리도 고무줄로
        근데 두루마기도 옛날 같지 않고 되게 편하게 나왔어 허리도 고무줄로

        그 옷 사래 그날은 진짜 맹질날은 체 곱딱하게 찰령 나가고
        그 옷 사러 그날은 진짜 명절날은 체 예쁘게 차려서 나가고

        맹질 때 가믄 떡도 호꼼 싸주고
        명절 때 가면 떡도 조금 싸주고

        게메 서 벌이가 어시난 건 어르신도
        그러게 서 벌이가 없으니까 그건 어르신도

        무시거 호끔만 행오면 또 그때 또 매맞는거라거야 이거
        무슨 조금만 해오면 또 그때 또 매맞는거라거야 이거
      -->
    </div>
</div>
<script>
  function submitForm(formId) {
    const formElement = document.getElementById(formId);
    formElement.submit();
  }
</script>
<form action="{% url 'homepage:question_send_initial' user_id=user_id%}" method="post">
{% endblock %}