<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>    
    <meta  http-equiv="refresh" content="2" />

    <title>
        유노코딩
    </title>
</head>
<body>
    <h1>키우고 싶은 동물 고르기</h1>
    <form action="" method="post">
        <input type="text" placeholder="NAME" name="name" />
        <br />
        <select name="pet">
            <option value="cat">고양이</option>
            <option value="parrot">앵무새</option>
        </select>
        <br/>
        <input type="submit" value="전송" />
    </form>
</body>
</html>