<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>JejuGPT : 로그인</title>
  <link rel="shortcut icon" type="image/png" href="../../static/favicon.png" />
  <link rel="stylesheet" href="../../static/bootstrap.min.css" />

</head>

<body>
  <!--  Body Wrapper -->
  <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
    data-sidebar-position="fixed" data-header-position="fixed">
    <div 
      class=" min-vh-100 d-flex align-items-center justify-content-center">
      <div class="d-flex align-items-center justify-content-center w-100">
        <div class="row justify-content-center w-100">
          <div class="col-md-8 col-lg-6 col-xxl-3">
            <div class="card mb-0">
              <div class="card-body" style="background-color: #F3F6FC; border-radius: 15px;">
                <a href="/" class="text-nowrap logo-img text-center d-block py-3 w-100">
                  <img src="../../static/dark-logo.svg" width="180" alt="">
                  <br><br>
                </a>
                <br>





                <form method="post" action="{% url 'login:login' %}">
                  {% csrf_token %}
                  {% include 'login/error.html' %}
                  {{ form.non_field_errors }}



                  <div class="mb-3">
                    <label for="id_username" class="form-label" style="font-family: 'SUIT-Regular'; font-weight: 500; font-size: 16px;">이메일</label>
                    <div style="float: right;">
                      <div style="border: none; padding: 5px;">{{ form.username }}</div>
                    </div>
                  </div>



                  <div class="mb-4">
                    <label for="id_password1" class="form-label" style="font-family: 'SUIT-Regular'; font-weight: 500; font-size: 16px;">비밀번호</label>
                    <div style="float: right;">
                      <div style="border: none; padding: 5px;">{{ form.password }}</div>
                    </div>
                  </div>






                  <br>



                  <button type="submit" class="btn btn-primary w-100 py-8 fs-4 mb-4 rounded-2" style="background-color: white; border-color: #f3f6fc; color: black; font-family: 'SUIT-Regular';">로그인</button>
                  <a href="{% url 'social:begin' 'google-plus' %}">
                    <button type="button" class="google-login-button btn w-100 py-8 fs-4 mb-4 rounded-2" style="background-color: white; border: 2px solid #F3F6FC; font-family: 'SUIT-Regular'; color: black;">
                      <img src="../../static/google.png" width="20" alt="">
                      &nbsp;&nbsp;&nbsp;&nbsp;Google &nbsp;&nbsp;로그인</button>
                  </a>
                </form>
                <br>


                <div style="text-align: center;">    
                  <a href="{% url 'login:signup' %}" style="color: black; font-family: 'SUIT-Regular';" onmouseover="this.style.color='#A6B8D6'" onmouseout="this.style.color='black'"> 회원가입</a>
                </div>



              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="../assets/libs/jquery/dist/jquery.min.js"></script>
  <script src="../assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>