<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>JejuGPT : 회원가입</title>
  <link rel="shortcut icon" type="image/png" href="../../static/favicon.png" />
  <link rel="stylesheet" href="../../static/bootstrap.min.css" />
</head>

<body>
  <!--  Body Wrapper -->
  <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
    data-sidebar-position="fixed" data-header-position="fixed">
    <div
      class="position-relative overflow-hidden radial-gradient min-vh-100 d-flex align-items-center justify-content-center">
      <div class="d-flex align-items-center justify-content-center w-100">
        <div class="row justify-content-center w-100">
          <div class="col-md-8 col-lg-6 col-xxl-3">
            <div class="card mb-0">
              <div class="card-body">
                <a href="/" class="text-nowrap logo-img text-center d-block py-3 w-100">
                  <img src="../../static/dark-logo.svg" width="180" alt="">
                </a>
                <p class="text-center">Your Social Campaigns</p>





                <form method="post" action="{% url 'login:signup' %}">
                  {% csrf_token %}
                  {% include "login/error.html" %}
                  {{ form.non_field_errors }}

                  <div class="mb-3">
                    <label for="id_email" class="form-label">이메일</label>
                    {{ form.email }}
                  </div>

                  <div class="mb-4">
                    <label for="id_password1" class="form-label">비밀번호</label>
                    {{ form.password1 }}
                  </div>

                  <div class="mb-4">
                    <label for="id_password2" class="form-label">비밀번호 확인</label>
                    {{ form.password2 }}
                  </div>

                  <button type="submit" class="btn btn-primary w-100 py-8 fs-4 mb-4 rounded-2">가입하기</button>
                  <div class="d-flex align-items-center justify-content-center">
                    <a class="text-primary fw-bold" href="{% url 'login:login' %}">로그인하기</a>
                  </div>
                </form>





              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="../assets/libs/jquery/dist/jquery.min.js"></script>
  <script src="../assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>