@font-face {
  font-family: 'SUIT-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'SUIT-Regular';
  overflow: hidden;
}

.chat-container {
  display: flex;
  flex-direction: column;
  height: 100vh;

  position: relative;
  height: 100vh;
  overflow-y: scroll;
}

.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #FFFFFF;
  font-weight: bold;
  height: 20px;
}

.nav-bar .profile {
  order: 0;
  margin-right: 10px;
}

.logo {
  font-weight: bold;
}

.profile {
  margin-right: 10px;
}

a {
  color: black;
  text-decoration-line: none;
}

a:hover {
  color: gray;
}

.chat-wrapper {
  display: flex;
  flex: 1;
  overflow: hidden;
}

.chat-sidebar {
    flex: 0 0 14%;
    background-color: #FFFFFF;
    padding: 20px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;

    position: relative;
  }

.chat-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.chat-header h2 {
  margin: 0;
}

.chat-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.chat-list li {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
  cursor: pointer;
}

.chat-list li.active {
  background-color: #F3F6FC;
}

.chat-content {
  flex: 3;
  display: flex;
  flex-direction: column;
  padding: 20px;
  padding-right: 60px;

  padding-bottom: 40px; /* chat-input의 높이만큼 여백 추가 */
}

.chat-messages {
  flex: 1;
  overflow-y: auto;
  border-radius: 15px;
  margin-bottom: 10px;
  background-color: #F3F6FC;
  padding-right: px;
}

.user-image {
  width: 32px;
  border-radius: 16px;
  margin-right: 15px;
}

.favicon-image {
  width: 44px;
  margin-right: 15px;
}

.message {
  padding: 8px;
  margin-bottom: 8px;
  border-radius: 15px;
}

.message.received {
  background-color: #F3F6FC;
  padding-right: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 40px;
  margin-right: 20px;
  display: inline-block;
}

.message.sent {
  background-color: #FFFFFF;
  padding: 20px;
  padding-left: 20px;
  margin-left: 20px;
  margin-right: 20px;
  /*display: flex;*/
  align-items: flex-start; /* 새로운 스타일 추가 */
}

.message-content {
  display: flex;
  align-items: center;
}

.message-content p {
  margin: 0;
}

.message p {
  margin: 0;
}

.good {
  width: 20px;
  padding-left: 45px;
  padding-top: 20px;
}

.bad {
  width: 20px;
  padding-left: 10px;
  padding-top: 20px;
}

.new-chat-input {
  text-align: center;
  width: 100%;
  line-height: 50px;
}

.new-chat-input input {
  width: 1000px;
  height: 50px;
  border: 3px solid #F3F6FC; /* 테두리 스타일과 색상 설정 */
  border-radius: 6px; /* 모서리를 둥글게 설정 */

}

.new-chat-input input:focus {
  outline: none; /* hover 시 outline 제거 */
}

.new-chat-input button {
  background-color: transparent; /* 버튼의 기본 색상 제거 */
  border: none; /* 버튼의 기본 테두리 제거 */
  padding: 0; /* 내부 여백 제거 */
}

.new-chat-input button img {
  width: 30px; /* 이미지의 가로 크기 조절 */
  height: auto; /* 이미지의 세로 크기 자동 조절 */
  
  padding-left: 20px;
  vertical-align: middle;
}

.options {
  line-height: 50px;

  position: absolute;
  bottom: 40px;
}

.options img {
  padding-left: 7px;
  padding-right: 10px;
  vertical-align: middle;
}





.chat-obj-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.R_subject {
  flex: 1;
  margin-right: 10px;
}

.R_subject2 {
  margin: 0;
  padding: 0;
}

.chat_button {
  flex-shrink: 0;
  width: 20px;
  height: 20px;
}

.chat_button button {
  border: none;
  background-color: transparent;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.chat_button button img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}


/*homepage.html*/

.hp {
  background-color: white;
  border-radius: 15px;

  margin: 20px;
  padding: 20px;
  padding-top: 15px;
}

.hp > form {
  margin: 0;
}

.hp > form > a {
  color: #3080b9;
}

.hp > form > a:hover {
  color: #c7d9ff;
  cursor: pointer;
}